html{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: white;
  background-color: #2f3640;


  }

  .everything{
    color: white;
    background-color: #2f3640;
  }

/*  All the home page styling starts from here */
.main-text
{
  margin-bottom: 40px;
}

.images{


  max-width: 100%;
  height: 170px;
  width:200px;
/*  margin-top: 10px;

  margin-left: 3px;*/
  margin-bottom: 20px;
  border:1px solid black;
  transition: transform .5s;
  opacity: 0.8;
  border-radius: 50%;
}

.images:hover{
  transform: scale(1.1);
  opacity: 1;
}






@media screen and (max-width: 600px) {
  .links {
    font-size: 15px;
  }
}

@media screen and (min-width: 601px) {
  .links {
    font-size: 20px;
  }
}


.links{

  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.2s;

}

.links:hover{

  text-decoration: none;
  color: orange;
}

.links-name{
  width:190px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* End of home page styling */





/* Start of information page styling */

.info-page{
  color: black;
}

.info-text{
  font-size: 120%;
}

.restaurant-rating{
  color: white;
}
.headings{
  font-weight: bold;
}

.cuisines{
  color: red;
}
.phone-number{
  color: orange;
}

.services-list li{
  list-style: none;
}

.services-list li:before{
  font-family: 'Glyphicons Halflings';
  content: '\e067';
  position: absolute;
  left: 25px;
}

.reviews-list li{
  list-style: none;
}
.reviews-list li:before{
font-family: "Glyphicons Halflings";
content:"\270f";
position: absolute;
left: 25px;

}
